# Python
*.pyc
*/*.pyc
*~
*.swp
__pycache__/
*.egg-info/
.venv/
venv/

# Node (编译前端时)
node_modules/
package-lock.json

# 编辑器
.idea/
.vscode/
*.swp

# 日志和临时
*.log
.cache/

# 静态资源调试文件
*.min.js.map
*.min.css.map
